
label{cursor: pointer;
  font-size: 4rem;}

/* Contenedor para centrar */
.ContainerCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Input */
input{display: none}


/* Slider */
.Carrusels{
  max-width: 100%;
  height: 700px;
  width: 700px;
  position: relative;
  overflow-x: hidden;
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
}
/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}


/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}


/* Selectores */
.Selectors {
  width: 120px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #000;
  height: 15px;
  width: 15px;
  display: block;
  border-radius: 10px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: lightblue;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: lightblue;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: lightblue;}

@media (max-width: 768px) {
  label{cursor: pointer;
    font-size: 3rem;}
  /* Contenedor para centrar */
.ContainerCenter{
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Slider */
.Carrusels{
  max-width: 100%;
  height: 380px;
  width: 380px;
  position: relative;
  overflow-x: hidden;
}
.Carrusel{
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-size: cover;
  overflow-y: hidden;
  transition: all .5s ease;
}
}