.carru{
  display: flex;
  align-items: center;
  justify-content: center;
}

@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
--negro: #393939;
--blanco: #ececec;
--sombra-ppal: #c9c9c9;
--sombra-sec: #ffffff;
--borde-negro: #00000050;
--marcado: rgb(127, 195, 255);
/* Tipografía */
--tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
:root {
  --negro: #ececec;
  --blanco: #303030;
  --sombra-ppal: #242424;
  --sombra-sec: #3c3c3c;
  --borde-negro: #FFFFFF50;
}
}


/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
/*
  Estilos generales para que las etiquetas no contengan propiedades
  que nos estorben y en todos los navegadores se vean correctamente
*/

video {
max-width: 100%;
width: 100%;
display: block;
object-fit: cover;
object-position: center center;
}

li {
list-style-type: none;
}

::selection {
background-color: var(--negro);
color: var(--blanco);
}

.carrousel {
width: 90%;
padding: 2em;

transition: all 0.4s ease;

border-radius: 1em;
overflow: hidden;
}

.carrousel .grande {
width: 300%;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
color: var(--negro);
transition: all 0.4s ease;
border-radius: 1em;
padding: 2em;
transition: all 0.5s ease;
transform: translateX(0%);
}

.carrousel .img {
width: calc( 100% / 3 - 3em);
min-height: 10vh;
transition: all 0.4s ease;
border-radius: 1em;
}

.carrousel .puntos {
width: 100%;
margin: 1em 0 0;
padding: 0.4em;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
}

.carrousel .punto {
width: 2em;
height: 2em;
margin: 1em 1em 0;
color: var(--negro);
transition: all 0.4s ease;
border-radius: 1em;
background-color: #333333;
box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
background-color: lightblue;
}

@media (max-width: 768px) {
.carrousel{
  width: 100%;
}
}